@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
}
.container{
    display:flex ;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-resolution: 1024px;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    border: 2px solid white;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    opacity: 0;
    margin: 0;
   
}


.panel.active {
    flex: 5;
   

}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display:none;
    }
}